{% extends 'base.html.twig' %}

{% set currentPage = 'google_photos' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "filename"|trans }}</th>
                        <th>{{ "id"|trans }}</th>
                        <th>{{ "action"|trans }}</th>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td>
                                <a href="{{ result.productUrl }}" target="_blank">{{ result.filename }}</a>
                            </td>
                            <td>{{ result.id }}</td>
                            <td>
                                {% if result.filename in datacenterFilenames %}
                                    {{ "already_in_datacenter"|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");
    </script>
{% endblock %}