{% extends 'base.html.twig' %}

{% set currentPage = 'google_photos_collection_albums' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "id"|trans }}</th>
                        <th>{{ "count"|trans }}</th>
                    </thead>
                    <tbody>
                        {% for id,items in results %}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ items|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
