{% extends 'base.html.twig' %}

{% set currentPage = 'google' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.source) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.state) }}
                    </div>
                    <div class="text-center">
                        {{ form_row(form.synchronize) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="google_from_card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.from) }}
                    </div>
                </div>
            </div>
            <div class="card" id="google_to_card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.to) }}
                    </div>
                </div>
            </div>
            <div class="card" id="google_title_card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.title) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");
        formSetup('google_calendar');

        var $googleType = $('#google_type');
        $googleType.change(function() {
            formSetup($googleType.val())
        })

        function formSetup(value)
        {
            switch(value) {
                case 'google_calendar':
                    $("#google_source").val("/api/sources/2");
                    $("#google_from_card").show();
                    $("#google_to_card").show();
                    $("#google_title_card").hide();
                    break;
                case 'google_photos':
                    $("#google_source").val("/api/sources/3");
                    $("#google_from_card").show();
                    $("#google_to_card").show();
                    $("#google_title_card").hide();
                    break;
                case 'youtube_playlists':
                    $("#google_source").val("/api/sources/5");
                    $("#google_from_card").hide();
                    $("#google_to_card").hide();
                    $("#google_title_card").hide();
                    break;
                default:
                    $("#google_source").val("/api/sources/3");
                    $("#google_from_card").hide();
                    $("#google_to_card").hide();
                    $("#google_title_card").hide();
            }
        }
    </script>
{% endblock %}