{% extends 'base.html.twig' %}

{% set currentPage = 'google_calendar' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "name"|trans }}</th>
                        <th>{{ "start"|trans }}</th>
                        <th>{{ "end"|trans }}</th>
                        <th>{{ "eventId"|trans }}</th>
                        <th>{{ "action"|trans }}</th>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ result.name }}</td>
                            <td>{{ result.start|date('d/m/Y H:i') }}</td>
                            <td>{{ result.end|date('d/m/Y H:i') }}</td>
                            <td>{{ result.eventId }}</td>
                            <td>
                                {% if result.eventId in datacenterActivityEventIds %}
                                    {{ "already_in_datacenter"|trans }}
                                {% else %}
                                    <button data-eventId="{{ result.eventId }}"
                                            data-name="{{ result.name }}"
                                            data-start="{{ result.start|date('Y-m-dTH:i') }}"
                                            data-end="{{ result.end|date('Y-m-dTH:i') }}"
                                            class="ajax btn btn-primary btn-sm">
                                        {{ "synchronize"|trans }}
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");
        $(document).on('click', 'button.ajax', function(){
            this.disabled = true;
            $.ajax({
                url:'{{ (path('ajax_synchronize_activity')) }}',
                type:"POST",
                data: {
                    "eventId": $(this).attr("data-eventId"),
                    "name": $(this).attr("data-name"),
                    "start": $(this).attr("data-start"),
                    "end": $(this).attr("data-end")
                }
            }).done(function(response) {
                alert(response);
            });
        });
    </script>
{% endblock %}