{% extends 'base.html.twig' %}

{% set currentPage = 'google_photos_albums' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "id"|trans }}</th>
                        <th>{{ "title"|trans }}</th>
                        <th>{{ "shareable_url"|trans }}</th>
                        <th>{{ "action"|trans }}</th>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.id }}</td>
                                <td>
                                    <a href="{{ result.productUrl }}" target="_blank">{{ result.title }}</a>
                                </td>
                                <td>
                                    {% if result.shareInfo %}
                                        {% set shareableUrl = result.shareInfo.shareableUrl %}
                                        <a href="{{ shareableUrl }}" target="_blank">{{ shareableUrl }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if result.title in datacenterAlbumTitles %}
                                        {{ "already_in_datacenter"|trans }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
