{% extends 'base.html.twig' %}

{% set currentPage = 'youtube_playlists' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    {% if nextPageToken %}
                        {{ 'nextPageToken'|trans }}
                        <a href="{{ path('google_oauth', {
                            'state': nextPageToken
                        }) }}" class="sync btn btn-primary btn-sm">
                            {{ nextPageToken }}
                        </a>
                    {% endif %}
                </h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "id"|trans }}</th>
                        <th>{{ "snippet.publishedAt"|trans }}</th>
                        <th>{{ "snippet.title"|trans }}</th>
                        <th>{{ "status.privacyStatus"|trans }}</th>
                        <th>{{ "player.embedHtml"|trans }}</th>
                        <th>{{ "action"|trans }}</th>
                    </thead>
                    <tbody>
                        {% for youTubePlaylist in youTubePlaylists %}
                            <tr>
                                <td title="{{ youTubePlaylist.id }}">{{ youTubePlaylist.id[:5] }}...</td>
                                <td>{{ youTubePlaylist.snippet.publishedAt }}</td>
                                <td>{{ youTubePlaylist.snippet.title }}</td>
                                <td>{{ youTubePlaylist.status ? youTubePlaylist.status.privacyStatus : '' }}</td>
                                <td>{{ youTubePlaylist.player ? youTubePlaylist.player.embedHtml : '' }}</td>
                                <td>
                                    {% if youTubePlaylist.snippet.title in datacenterPlaylistsTitles %}
                                        {{ "already_in_datacenter"|trans }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
