{% extends 'base.html.twig' %}

{% set currentPage = 'twitch' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">"{{ search }}"</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "igdb_id"|trans }}</th>
                        <th>{{ "name"|trans }}</th>
                        <th>{{ "first_release_at"|trans }}</th>
                        <th>{{ "url"|trans }}</th>
                        <th>{{ "action"|trans }}</th>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.id }}</td>
                            <td>{{ game.name }}</td>
                            <td>{{ game.first_release_date is defined ? game.first_release_date|date('Y-m-d') : '' }}</td>
                            <td>
                                <a href="{{ game.url }}" target="_blank">{{ game.url }}</a>
                            </td>
                            <td>
                                {% if game.id in datacenterIGDBNames %}
                                    {{ "already_in_datacenter"|trans }}
                                {% else %}
                                    <button data-name="{{ game.name }}"
                                            data-first_release_date="{{ game.first_release_date is defined ? game.first_release_date|date('Y-m-d') : '' }}"
                                            data-id="{{ game.id }}"
                                            data-url="{{ game.url }}"
                                            class="ajax btn btn-primary btn-sm">
                                        {{ "synchronize"|trans }}
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");

        $(document).on('click', 'button.ajax', function(){
            //this.disabled = true;
            $.ajax({
                url:'{{ (path('ajax_synchronize_game')) }}',
                type:"POST",
                data: {
                    "name": $(this).attr("data-name"),
                    "first_release_date": $(this).attr("data-first_release_date"),
                    "id": $(this).attr("data-id"),
                    "url": $(this).attr("data-url")
                }
            }).done(function(response) {
                alert(response);
            });
        });
    </script>
{% endblock %}
