{% extends 'base.html.twig' %}

{% set currentPage = 'twitch' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        {{ form_row(form.igdb) }}
                    </div>
                    <div class="text-center">
                        {{ form_row(form.search) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");
    </script>
{% endblock %}
