{% extends 'base.html.twig' %}

{% set currentPage = 'read_file' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ fileName }}</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "path"|trans }}</th>
                        <th>{{ "size"|trans }}</th>
                        <th>{{ "name"|trans }}</th>
                        <th>{{ "action"|trans }}</th>
                    </thead>
                    <tbody>
                      {% for key,path in files %}
                          {% set key = key|split('|') %}
                          {% set file = key[0] %}
                          {% set size = key[1] %}
                          <tr>
                              <td>{{ path }}</td>
                              <td>{{ size }}</td>
                              <td>{{ file }}</td>
                              <td>
                                  {% if file in datacenterFilenames %}
                                      {{ "already_in_datacenter"|trans }}
                                  {% else %}
                                    <button data-filename="{{ file }}"
                                            data-path="{{ path }}"
                                            data-source="{{ aws_source[fileName] }}"
                                            data-size="{{ size }}"
                                            class="ajax btn btn-primary btn-sm">
                                        {{ "synchronize"|trans }}
                                    </button>
                                  {% endif %}
                              </td>
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");

        $(document).on('click', 'button.ajax', function(){
            this.disabled = true;
            $.ajax({
                url:'{{ (path('ajax_synchronize_file')) }}',
                type:"POST",
                data: {
                    "filename": $(this).attr("data-filename"),
                    "path": $(this).attr("data-path"),
                    "source": $(this).attr("data-source"),
                    "size": $(this).attr("data-size")
                }
            }).done(function(response) {
                alert(response);
            });
        });
    </script>
{% endblock %}
