{% extends 'base.html.twig' %}

{% set currentPage = 'read_file' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ fileName }}</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tbody>
                    <thead>
                        <th>{{ "artist"|trans }}</th>
                        <th>{{ "album"|trans }}</th>
                        <th>{{ "track"|trans }}</th>
                        <th>{{ "uri"|trans }}</th>
                    </thead>
                    {% for key,value in tracks %}
                        <tr>
                        {% for content in value %}
                            <td>{{ content }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
