{% extends 'base.html.twig' %}

{% set currentPage = 'aws' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
      <div class="card">
          <div class="table-responsive">
              <table class="table table-hover table-striped">
                  <thead>
                      <th>{{ "folder"|trans }}</th>
                      <th>{{ "files"|trans }}</th>
                      <th>{{ "action"|trans }}</th>
                  </thead>
                  <tbody>
                      {% for key,value in files %}
                              <tr>
                                  <td>{{ key }}</td>
                                  <td>{{ value|length }}</td>
                                  <td>
                                    {% if key %}
                                        <a href="{{ path('aws_sync_bucket_prefix', {
                                            'bucket': bucket,
                                            'prefix': key
                                        }) }}" class="sync btn btn-primary btn-sm">
                                            {{ "synchronize_folder"|trans }}
                                        </a>
                                    {% endif %}
                                  </td>
                              </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");

        $(document).on('click', 'button.ajax', function(){
            this.disabled = true;
            $.ajax({
                url:'{{ (path('ajax_synchronize_file')) }}',
                type:"POST",
                data: {
                    "filename": $(this).attr("data-filename"),
                    "path": $(this).attr("data-path"),
                    "source": $(this).attr("data-source")
                }
            }).done(function(response) {
                alert(response);
            });
        });
    </script>
{% endblock %}
