{% extends 'base.html.twig' %}

{% set currentPage = 'aws' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "bucket"|trans }}</th>
                        <th>{{ "action"|trans }}</th>
                    </thead>
                    <tbody>
                    {% for bucket in buckets %}
                        {% set url = path('aws_bucket', {'bucket': bucket}) %}
                        <tr>
                            <td>
                                <a href="{{ url }}">{{ bucket }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}">{{ "see_bucket"|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");
    </script>
{% endblock %}
