<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{{ "sitename"|trans }}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
{% set pages = [
    {'name': 'dashboard', 'url': 'dashboard', 'icon': 'nc-chart-pie-35'},
    {'name': 'aws', 'url': 'aws_index', 'icon': 'nc-cloud-download-93'},
    {'name': 'google', 'url': 'google_oauth', 'icon': 'nc-notes'},
    {'name': 'twitch', 'url': 'twitch_oauth', 'icon': 'nc-controller-modern'},
] %}
<div class="wrapper">
    <div class="sidebar" data-image="{{ asset('sidebar-4.jpg') }}" data-color="blue">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="{{ path('dashboard') }}" class="simple-text">{{ "sitename"|trans }}</a>
            </div>
            <ul class="nav">
                {% for page in pages %}
                    <li class="nav-item" id="nav_{{ page.name }}">
                        <a class="nav-link" href="{{ path(page.url) }}">
                            <i class="nc-icon {{ page.icon }}"></i>
                            <p>{{ page.name|trans }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    {% block page_title %}{{ "sitename"|trans }}{% endblock %}
                </a>
                <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        aria-controls="navigation-index"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="no-icon">{{ app.user.username }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul class="footer-menu">
                        {% for page in pages %}
                            <li>
                                <a href="{{ path(page.url) }}">{{ page.name|trans }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <p class="copyright text-center">
                        &copy; {{ "now"|date("Y") ~ ' ' ~ "sitename"|trans }},
                        {{ "developed_by"|trans|lower }} <a href="http://www.anthony-dessalles.com" target="_blank">Anthony Dessalles</a>
                        {{ "and"|trans|lower ~ ' ' ~ "designed_by"|trans|lower }} <a href="http://www.creative-tim.com" target="_blank">Creative Tim</a>
                    </p>
                </nav>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="{{ asset('build/app.js') }}" type="text/javascript"></script>
{% block javascripts %}{% endblock %}
</html>
