{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .all-icons .font-icon-detail {
            text-align: center;
            padding: 45px 0px 30px;
            border: 1px solid #e5e5e5;
            border-radius: 0.1875rem;
            margin: 15px 0;
            min-height: 168px;
        }
    </style>
{% endblock %}

{% set currentPage = 'dashboard' %}
{% block page_title %}{{ currentPage|trans }}{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ "api"|trans }}</h4>
            </div>
            <div class="card-body all-icons">
                <div class="row">
                    {% set apis = [
                        {'name': 'aws', 'url': 'aws_index', 'icon': 'nc-cloud-download-93'},
                        {'name': 'google', 'url': 'google_oauth', 'icon': 'nc-notes'},
                        {'name': 'twitch', 'url': 'twitch_oauth', 'icon': 'nc-controller-modern'},
                    ] %}
                    {% for api in apis %}
                        <div class="font-icon-list col-md-4">
                            <a href="{{ path(api.url) }}">
                                <div class="font-icon-detail">
                                    <i class="nc-icon {{ api.icon }}"></i>
                                    <p>{{ api.name|trans }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ "read_files"|trans }}</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>{{ "file" }}</th>
                        <th>{{ "size" }}</th>
                    </thead>
                    <tbody>
                        {% for file,size in files %}
                            <tr>
                                <td>
                                    {% if size > 1 %}
                                        <a href="{{ path('read_raw_file', {'file': file}) }}">{{ file }}</a>
                                    {% elseif 'txt' in file %}
                                        <a href="{{ path('read_txt_file', {'file': file}) }}">{{ file }}</a>
                                    {% elseif 'json' in file %}
                                        <a href="{{ path('read_json_file', {'file': file}) }}">{{ file }}</a>
                                    {% else %}
                                        {{ file }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ size }} MB
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#nav_{{ currentPage }}").addClass("active");
    </script>
{% endblock %}
